@rendermode InteractiveServer

<div class="character-card">
    @if(Character != null)
    {
        @if(Character.ImagePath != null)
        {
            <div class="image">
                <a href="/games/@GameId/characters/@CharacterId"><img alt="@Character.Name" src="@Character.ImagePath" /></a>
            </div>
        } 
        else if(Character.AdditionalInformation == "She/Her")
        {
            <div class="image">
                <a href="/games/@GameId/characters/@CharacterId"><img alt="@Character.Name" src="/static/placeholder-her.png" /></a>
            </div>
        }
        else
        {
            <div class="image">
                <a href="/games/@GameId/characters/@CharacterId"><img alt="@Character.Name" src="/static/placeholder-him.png" /></a>
            </div>
        }
        <div class="title">
            <a href="/games/@GameId/characters/@CharacterId">@Character.Name</a>
        </div>
        @if(Character.AdditionalInformation != null)
        {
            <div class="pronouns">
                @Character.AdditionalInformation
            </div>
        }
    
        <div class="nav-menu">
            <a href="/games/@GameId/characters/@CharacterId">See more..</a>
        </div>
    }
</div>

@code {
    
    @inject NavigationManager NavigationManager;

    private void HandleClick(string path)
    {
        NavigationManager.NavigateTo(path, true);
    }

    [Parameter]
    public string? CharacterId { get; set; }

    [Parameter]
    public GameIndexItem? Character { get; set; }      

    [Parameter]
    public string? GameId { get;set; }
}
