@rendermode InteractiveServer

@if(GameDetails != null && ItemDetails != null)
{

    <PageTitle>@GameDetails.Name - @ItemDetails.Name - Kadense RPG</PageTitle>
    
    @if(ItemDetails != null)
    {
        <h1>@ItemDetails.Name</h1>
    }

    <FluentTabs @bind-ActiveTabId="@activeid" OnTabChange="HandleOnTabChange" Id="item-details-tabs">
        <CascadingValue Value="this" Name="ItemTabs">

                <FluentTab Id="item-details" Label="Details">
                    <Content>
                        <div class="item-details">
                            
                            <SideImage ImagePaths=@ItemDetails!.ImagePath Name=@ItemDetails.Name />
                            
                            <StandardContent Description=@ItemDetails.Description />
                        </div>
                    </Content>
                </FluentTab>

            @if(ItemDetails != null && ItemDetails!.Attachments.Count() > 0)
            {
                
                <FluentTab Id="item-attachments" Label="Attachments">
                    <Content>
                        <div class="attachments">
                            <h2>Attachments</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach(var attachment in ItemDetails.Attachments)
                                {
                                    <tr>
                                        <td><a href=@attachment.Path>@attachment.Name</a></td>
                                        <td>@(attachment.Description ?? "")</td>
                                        <td><a href="javascript:CopyUrlToClipboard('@attachment.Path')">Copy URL</a></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </Content>
                </FluentTab>
            }
                
            @if(Characters != null && Characters.Count() > 0)
            {
                
                <FluentTab Id="item-characters" Label="Characters">
                    <Content>
                        <div class="characters">
                            <h2>Characters</h2>
                            <CharacterCards GameId=@GameDetails!.Id Characters=@Characters />
                        </div>
                    </Content>
                </FluentTab>
            }
                
            @if(Locations != null && Locations.Count() > 0)
            {
                
                <FluentTab Id="item-locations" Label="Locations">
                    <Content>
                        <div class="locations">
                            <h2>Locations</h2>
                            <LocationCards GameId=@GameDetails!.Id Locations=@Locations />
                        </div>
                    </Content>
                </FluentTab>
            }
        </CascadingValue>
    </FluentTabs>
}

@code
{
    [Parameter]
    public Game? GameDetails { get; set; }

    [Parameter]
    public GameItem? ItemDetails { get; set; }

    [Parameter]
    public Dictionary<string, GameIndexItem>? Characters { get; set; }
    
    [Parameter]
    public Dictionary<string, GameIndexItem>? Locations { get; set; }

        
    string? activeid = "tab-3";
    FluentTab? changedto;

    private void HandleOnTabChange(FluentTab tab)
    {
        changedto = tab;
    }
}